[options]
    logfile       = /var/log/staging/knockd.log
    interface     = {{ nic_list[0] }}

[ssh]
    sequence      = 22:tcp,22:tcp,22:tcp
    tcpflags      = ack
    seq_timeout   = 5
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[http]
    sequence      = 80:tcp,80:tcp
    tcpflags      = psh
    seq_timeout   = 1
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[https]
    sequence      = 443:tcp,443:tcp
    tcpflags      = psh
    seq_timeout   = 1
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[sqlserver]
    sequence      = 1433:tcp,1433:tcp,1433:tcp,1433:tcp,1433:tcp
    tcpflags      = ack
    seq_timeout   = 10
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[gotty]
    sequence      = 8080:tcp,8080:tcp
    tcpflags      = ack
    seq_timeout   = 3
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[MailHog]
    sequence      = 8081:tcp,8081:tcp
    tcpflags      = ack
    seq_timeout   = 5
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY

[EvMgrS]
    sequence      = 8401:tcp,8401:tcp
    tcpflags      = ack
    seq_timeout   = 60
    start_command = /usr/bin/touch /var/log/staging/.LASTACTIVITY
