[Unit]
Description=HTML Terminal
Requires=network.target
After=network.target

[Service]
Type=simple
Environment=TERM=xterm-256color
ExecStart=/opt/staging/gotty/gotty -w --config /etc/gotty/gotty.conf --title-format "{{ .Hostname }} login" /opt/staging/gotty/login.py
Restart=on-failure
RestartSec=15s
TimeoutStopSec=60s
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
